# Database
DATABASE_URL="file:./dev.db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="lVwdaz+sj0FSbS83ZTgrsdFYVJbN5xIPp7vW8XWpzXM="

# Add your secret key here
# You can generate one with: openssl rand -base64 32


